.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.calendar {
  width: 25%; }
  .calendar h2 {
    position: relative; }
    .calendar h2 button {
      position: absolute; }
      .calendar h2 button:first-child {
        left: 1rem; }
      .calendar h2 button:last-child {
        right: 1rem; }
  .calendar table {
    width: 100%; }
    .calendar table td.date:hover {
      background-color: #dedede;
      cursor: pointer; }
