.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.calendar {
  width: 25%;

  .calendar-control {
    width: 50%;
    position: relative;
    display: inline;

    button {
      vertical-align: middle;

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }
  }

  table {
    width: 100%;

    td.date {
      text-align: center;

      &:hover {
        background-color: #dedede;
        cursor: pointer;
      }

      &.selected {
        background-color: #ababab;
      }
    }
  }
}

.date-input {
  position: relative;

  .calendar {
    position: absolute;
    top: -50px;
    left: 40%;
    background-color: orange;
  }
}
