.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.calendar {
  width: 25%;

  h2 {
    position: relative;

    button {
      position: absolute;

      &:first-child {
        left: 1rem;
      }

      &:last-child {
        right: 1rem;
      }
    }
  }

  table {
    width: 100%;

    td.date {
      &:hover {
        background-color: #dedede;
        cursor: pointer;
      }

      &.selected {
        background-color: #ababab;
      }
    }
  }
}
